<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer mode="side" opened>
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header expanded>
          Home
        </mat-expansion-panel-header>

        <button mat-button>Playlists</button>
        <button mat-button>Upload Video</button>
        <button mat-button (click)="openBottomSheet()">Create Playlist</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Live stream
        </mat-expansion-panel-header>
        content2
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between" [color]="'warn'">
      <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      <span>Streamer</span>
      <button mat-button (click)="login()">Login</button>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
    
  </mat-drawer-content>
</mat-drawer-container>
