
mat-drawer-container {
    height: 100vh;
}

mat-drawer {
    width: 20%;
}

mat-toolbar {
    z-index: 2;
    line-height: 3;
}

::ng-deep .mat-expansion-panel-body {
    display: flex !important;
    flex-direction: column !important;
}