<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10" class="wrap" style="width: 100%; height: inherit;">
  <div
      fxFlex="0 1 calc(100%)"
      fxLayoutAlign="center"
    >
    <iframe title="First course" *ngIf="currentVideo"
    [src]="currentVideo">
    </iframe>
    </div>
    <div
      fxFlex="0 1 calc(100%)"
      fxLayoutAlign="center"
    >

    <mat-tab-group style="width: 100%;">

      <mat-tab *ngFor="let playlist of playlists$ | async" label="{{playlist.title}}" fxLayout="row">
        <span *ngFor="let item of playlist.items">
          <a (click)="playVideo(item.videoId)">
          <img src="{{item.thumbnails.default.url}}" alt="{{item.title}}">
        </a>
        <div>{{item.title | titlecase}}</div>
        </span>
        
      </mat-tab>
    </mat-tab-group>
</div>
